/* fadeInBlur Animation */
.fadeInBlur-enter-active,
.fadeInBlur-leave-active {
  transition: filter 0.5s;
}
.fadeInBlur-enter-from,
.fadeInBlur-leave-to {
  filter: blur(20px);
}

/* Slide Animation */
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s;
}
.slide-enter-from,
.slide-leave-to {
  transform: translateX(100%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
