/* =========== Start: Tailwind =========== */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Base */
@import "./base.postcss";

/* Utilities */
@import "./utilities.postcss";

/* =========== End: Tailwind =========== */

/* =========== Start: Custome =========== */
@import "./animations.postcss";
@import "./variables.postcss";
/* =========== End: Custome =========== */
